:root {
    --color-primary: #27272A;
    --color-secondary: #334155;
    --color-accent: #FB923C;
    --color-bright: #E4E4E7;
    --color-highlight: #C026D3;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  transition: 0.2s all;
}

body {
    background-color: var(--color-primary);
    color:            var(--color-bright);
}
